header {
    background-color: #EC2C2C;
    height:130px; 
    width:100%;
}

header img{
    height:120px;
    width:15%;
    border-radius:50%;
    
}

#tarjeta{
    margin-left: 25%;
    margin-top: 3%;
}

.foto{
    margin-left: 1500px;
    height:60px;
    width:60px;
    margin-top: -8px;
}

header h4{
    text-align: right;
    margin-top: -25px;
}

article h1{
    text-align: center;
    margin-top: 5%;
}

#nombre{
    width: 40%;
    margin-left: 8%;
}

#apellido{
    width: 40%;
    margin-left: 50%;
    margin-top: -62px;
}

#td{
    width: 25px;
    margin-left: 8%;
    
}

#doc{
    width: 40%;
    margin-left: 50%;
    margin-top: -62px;
}

#tipodoc{
    width: 40%;
    margin-left:8% ;

}


#Tel{
    width: 40%;
    margin-left: 50%;
    margin-top: -63px;
}

#email2{

    width: 40%;
    margin-left: 8%;


}

#boton{
    margin-left: 41%;
    margin-top: 50px;
    background-color: #EC2C2C;
    border-radius: 50px;
    border-color: #EC2C2C;
    width: 17%;
    

}